* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f5;
    -webkit-font-smoothing: antialiased;
    padding: 20px;
    background: linear-gradient(to right, #00c6ff, #0072ff);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 25px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.weather-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}